# Laravel & PHP
/vendor/
/node_modules/
/public/build/
/public/assets/
/storage/*.key
/storage/pail
/storage/app/*
/storage/framework/*
/storage/logs/*
/.phpunit.cache
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock

# IDE & Editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.bak
*.tmp
*.swp
*.swo

# Laravel Sail
sail.log

# Laravel Pint
pint.json

# Custom
/vendor/
_laravel_ide/
